
@using System.Collections.Generic

<h2>System Info</h2>

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h6>Node List</h6>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <th>#</th>
                @foreach(var item in (Dictionary<string, dynamic>)ViewData["SysInfo"])
                {
                        <th> @item.Key </th>
                }
            </thead>
            <tbody>
                @for(var i = 1; i <= 12; i++)
                {
                    <tr>
                        <td>@i</td>
                        @{
                            foreach(var item in (Dictionary<string, dynamic>)ViewData["SysInfo"])
                            {
                                <td> @item.Value </td>
                            }    
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h6>Job List</h6>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <th>#</th>
                <th>Job ID</th>
                <th>Duration</th>
                <th>Status</th>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>job-01</td>
                    <td>100s</td>
                    <td>Finish</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
