@{
    @using System.Collections.Generic;
    ViewData["Title"] = "Home Page";
}
<h2>System Info</h2>

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h6>Node List</h6>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <th>#</th>
                @foreach(var item in (Dictionary<string, dynamic>)ViewData["SysInfo"])
                {
                        <th> @item.Key </th>
                }
            </thead>
            <tbody>
                @for(var i = 1; i <= 1; i++)
                {
                    <tr>
                        <td>@i</td>
                        @{
                            foreach(var item in (Dictionary<string, dynamic>)ViewData["SysInfo"])
                            {
                                <td> @item.Value </td>
                            }    
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<br />
<div class="panel panel-default">
    <div class="panel-heading">
        <h6>Job List</h6>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <th>#</th>
                <th>Job ID</th>
                <th>Start Time</th>
                <th>Duration</th>
                <th>Status</th>
            </thead>
            <tbody>
                @foreach(var i in (List<List<string>>)ViewData["JobList"])
                {
                    <tr>
                        @{
                            foreach(var t in (List<string>)i)
                            {
                                <td> @t </td>
                            }
                        }
                        <td><a asp-controller="Job" asp-action="Detial" asp-route-id="1">Deital</a></td>
                    </tr>    
                }
            </tbody>
        </table>
    </div>
</div>
